.loginContainer{
  width: 40%;
  padding: 5% 5% 0 5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  margin: 0 auto 1% auto;
}

.inputContainer, .inputContainerError,.inputContainerSuccess{
  margin: 5% 0 0 0;
  position: relative;
}

.inputContainer label, .inputContainerError label, .inputContainerSuccess label{
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2B3A4A;
}

.inputContainer input, .inputContainerError input, .inputContainerSuccess input{
  width: 100%;
  height: 48px;
  border: 2px solid #AAB3BD;
  background: #FDFDFE;
  border-radius: 8px;
  color: #CCD0D4;
  padding: 0 0 0 5%;
  font-size: 16px;
  outline: none;
}

.inputContainerError input{
  border: 2px solid #F2B2AD;
}

.inputContainerSuccess input{
  border: 2px solid #97BF84;
}

.error{
  color: #900F06;
  margin: 1% 0;
  font-size: 14px;
  font-weight: 400;
}

.passwordIcon{
  position: absolute;
  right: 5%;
  top: 50%;
}

.passwordIconError{
  position: absolute;
  right: 5%;
  top: 40%;
}

.loginBtnDiv, .deleteBtnDiv{
  width: 100%;
  margin: 10% 0 0 0;
}

.loginBtnDiv button, .deleteBtnDiv button{
  width: 100%;
  height: 48px;
}
